<main>
  
  <mat-toolbar color="primary">
    <span>Interview Excercise</span>
    <span class="spacer"></span>
    <span>by Nick</span>
  </mat-toolbar>

  <div class="content">
    <div class="list">
      <b>Project List</b>
      <app-project-list [list]="projectList()"></app-project-list>
    </div>
    <div class="card">
      <app-project-totals [projectCount]="projectCount()" [ticketCount]="ticketCount()"></app-project-totals>
    </div>
    <div class="table">
      <b>Assigned Tickets</b>
      <app-ticket-table></app-ticket-table>
    </div>
  </div>
</main>

<router-outlet />